@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer
  }
}
.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}

/* .content-div:hover {
  background-image: radial-gradient(circle at 10% 20%, rgb(0, 102, 161) 0%, rgb(0, 68, 108) 90.1%
  )!important;
} */

/* Add this CSS to your project's stylesheet */
.nav-link {
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: all 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #A47E3B;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}